<div class="sidebar">
  <div class="user-info">
    <% if (user) { %>
      <div class="profile-container">
        <% if (user.profileImage) { %>
          <img src="<%= user.profileImage %>" alt="Foto de Perfil" class="profile-image">
        <% } else { %>
          <img src="/images/default-avatar.png" alt="Imagem padrão" class="profile-image">
        <% } %>
        <span class="user-name"><%= user.name %></span>
      </div>
    <% } else { %>
      <div class="profile-container">
        <img src="/images/default-avatar.png" alt="Imagem padrão" class="profile-image">
        <span class="user-name">Visitante</span>
      </div>
    <% } %>
  </div>
  
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/history">Histórico</a></li>
    <li><a href="/settings">Configurações</a></li>
  </ul>
  
  <div class="logout">
    <% if (user) { %>
      <button onclick="window.location.href='/logout'">Sair</button>
    <% } else { %>
      <button onclick="window.location.href='/login'">Entrar</button>
    <% } %>
  </div>
</div>
